.infomation-work-container {
    max-width: 1240px;
    margin: 0 auto;
}
.work-item-detail-container {
    max-width: 1240px;
    margin: 0 auto;
    width: 100%;
    padding-top: 28px;
    display: grid;
    grid-template-columns: 1.1fr 2.9fr;
    gap: 32px;
    .work-status {
        padding: 24px;
        border: 1px solid #323233;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        height: fit-content;
        .work-status-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
        }
        .work-status-body {
            display: flex;
            flex-direction: column;
            gap: 16px;
            .infowork-info {
                padding: 16px 8px;
                background-color: #1a1a1a;
                border-radius: 12px;
                .info-time {
                    display: flex;
                    padding: 0 8px;
                    justify-content: space-between;
                    align-items: center;
                    p {
                        font-size: 12px;
                        color: #999ea7;
                    }
                    .time {
                        font-size: 14px;
                        color: #999ea7;
                        span {
                            color: #fff;
                        }
                    }
                }
                .info-fee {
                    margin-top: 8px;
                    padding: 12px;
                    background: #050505;
                    border-radius: 8px;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    div {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: 8px;
                        p {
                            font-size: 12px;
                            color: #999ea7;
                        }
                        span {
                            font-size: 14px;
                            color: #fff;
                        }
                    }
                }
            }
        }
        .infowork-tag-item {
            align-self: flex-start;
            color: #999ea7;
            font-size: 12px;
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 8px;
            padding: 5px 8px 5px 6px;
            border-radius: 6px;
            background-color: #1a1a1a;
        }
        .ant-btn {
            width: 100%;
            height: 52px;
        }
        .btn-gradient {
            background: linear-gradient(90deg, #0a0a0a 0%, #2f3033 100%);
            border: 1px solid #323233;
        }
        .line {
            border: solid 1px rgb(50, 50, 51);
        }
    }
    .work-item-info {
        display: flex;
        flex-direction: column;
        gap: 24px;
        .device-info {
            border: 1px solid #1e1e1f;
            padding: 17px 16px;
            border-radius: 12px;
            display: flex;
            justify-content: space-between;
            .title {
                display: flex;
                gap: 5px;
                align-items: center;
                .text-primary {
                    color: #e5e5e5;
                }
            }
            .count {
                padding: 6px 8px;
                background: #0a0a0a;
                border: 1px solid #323233;
                color: #e5e5e5;
                border-radius: 100px;
            }
        }
        .monitoring-section {
            padding: 24px;
            background: #050505;
            border: 1px solid #1e1e1f;
            border-radius: 12px;
            display: flex;
            flex-direction: column;
            gap: 8px;
            .timestamps {
                border-radius: 8px;
                align-self: flex-start;
                background: #898e9926;
                color: #a0a6b2;
                padding: 5px 8px;
                font-size: 14px;
            }
            .traceback {
                color: #898e99;
                font-size: 14px;
                line-height: 19.6px;
            }
        }
        .run-script-container-select-zone {
            padding: 24px 20px;
            border: dashed 1px #737780;
            border-radius: 12px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .icon-text {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 12px;
                p {
                    color: rgba($color: #fff, $alpha: 0.3);
                    font-weight: 300;
                }
            }
            .icon-plus {
                fill: white;
            }
        }
        .uploading-card {
            border: 1px solid rgba(25, 25, 26, 1);
            border-radius: 12px;
            padding: 16px 20px;
            display: flex;
            align-items: center;
            gap: 12px;
            .file-info {
                display: flex;
                flex-direction: column;
                gap: 6px;
                flex-grow: 1;
                .header-info {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    p {
                        font-size: 16px;
                    }
                }
                .progress-bar {
                    background-color: #3a3a3a;
                    border-radius: 5px;
                    overflow: hidden;
                    width: 100%;
                    height: 3px;
                    .progress {
                        background-color: #007bff;
                        height: 100%;
                    }
                }
                .error-progress {
                    background-color: #cc2929;
                    border-radius: 5px;
                    overflow: hidden;
                    width: 100%;
                    height: 3px;
                    .error-progress-bar {
                        background-color: #cc2929;
                        height: 100%;
                    }
                }
                .progress-info {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                .progress-container {
                    width: 100%;
                    height: 20px;
                    border-radius: 5px;
                    overflow: hidden;
                }

                .progress-bar {
                    height: 28%;
                    background-color: #2a27d4;
                    transition: width 0.3s;
                }
                p {
                    color: rgba($color: #fff, $alpha: 0.6);
                    font-weight: 300;
                    font-size: 12px;
                }
            }
        }
        .uploaded-card {
            border: 1px solid #737780;
            border-radius: 12px;
            padding: 16px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 12px;
            .file-info {
                display: flex;
                flex-direction: column;
                gap: 6px;
                flex-grow: 1;
                .progress-info {
                    font-size: 12px;
                    color: rgba(115, 119, 128, 1);
                }
            }
            .icon_trash {
                background: rgba(115, 119, 128, 0.1);
                border-radius: 6px;
                img {
                    margin: 4px;
                    display: block;
                    width: 20px;
                    height: 20px;
                }
            }
        }
        .result-card {
            border: 1px solid #737780;
            border-radius: 12px;
            padding: 16px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 12px;
            .file-info {
                display: flex;
                flex-direction: column;
                gap: 6px;
                flex-grow: 1;
                .progress-info {
                    font-size: 12px;
                    color: rgba(115, 119, 128, 1);
                }
            }
            .result-btn {
                color: #999ea7;
                font-size: 14px;
                display: flex;
                align-items: center;
                gap: 5px;
                min-width: 100px;
                padding: 4px 6px;
                border: 1px solid #313233;
                border-radius: 6px;
            }
        }
    }
}
