.infowork {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-right {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        margin-top: 16px;
        padding: 5px 8px 5px 6px;
        border-radius: 6px;
        background-color: rgba(204, 41, 41, 0.1);
        p {
            font-size: 14px;
            font-weight: 500;
            line-height: 14px;
            color: rgba(227, 80, 80, 1);
        }
    }

    &-description {
        display: flex;
        width: auto;
        gap: 10px;
        &-item {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 8px;
            margin-top: 16px;
            padding: 5px 8px 5px 6px;
            border-radius: 6px;
            background-color: #0a0a0a59;

            p {
                font-size: 14px;
                font-weight: 500;
                line-height: 14px;
                color: #999ea7;
            }
        }
    }
}
