.table-container {
    max-width: 1240px;
    margin: 0 auto;
    margin-top: 50px;
    border: solid 1px rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    border-radius: 12px;
    padding-top: 20px;
    background-color: transparent;
    overflow: hidden;

    .table-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 38px;
        padding: 20px 24px 20px 24px;
        &-left {
            display: flex;
            align-items: center;
            gap: 20px;

            span {
                height: 28px;
                font-size: 20px;
                line-height: 28px;
                font-weight: 500;
                text-align: center;
                color: #fff;
            }
            .search {
                display: flex;
                align-items: center;
                gap: 10px;
                border-radius: 8px;
                border: solid 1px rgba(255, 255, 255, 0.2);
                padding: 6px 8px 6px 8px;
                height: 38px;
                width: 410px;
                input {
                    border: none;
                    background: none;
                    flex-grow: 1;
                    height: 100%;
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
        &-right {
            img {
                cursor: pointer;
            }
        }
    }

    .table-body {
        padding-top: 20px;
        .ulti {
            height: 25px;
            width: 45px;
            padding: 4px 6px 4px 6px;
            border-radius: 6px;
            gap: 10px;
            border: solid 1px rgba(255, 255, 255, 0.2);
        }
        .hire {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 4px 8px 4px 8px;
            border-radius: 6px;
            gap: 10px;
            color: #50e3c2;
            border: solid 1px rgba(255, 255, 255, 0.2);
            cursor: pointer;
        }
        .chip-container {
            display: flex;
            align-items: center;
            gap: 10px;
        }
        .ant-table-wrapper .ant-table-tbody > tr > td {
            border-bottom: solid 1px rgba(255, 255, 255, 0.2);
        }

        .ant-table {
            background: transparent;
            &-row {
                .ant-table-cell {
                    font-size: 12px;
                    line-height: 14.4px;
                    font-weight: 500;
                    color: #737780;
                    cursor: pointer;
                    &-row-hover {
                        background: rgba(5, 5, 5, 0.5) !important;
                    }
                }
            }

            &-body {
                tr {
                    border: solid 1px rgba(255, 255, 255, 0.2);
                    .ant-table-placeholder {
                        background: transparent;
                    }

                    td {
                        transition: none;
                        border-bottom: solid 1px rgba(255, 255, 255, 0.2);
                    }
                }
            }
            &-wrapper {
                tr {
                    th {
                        border-top: solid 1px rgba(255, 255, 255, 0.2);
                        border-radius: 0;
                        border-bottom: solid 1px rgba(255, 255, 255, 0.2);
                        background: transparent;
                        color: #737780;
                        border-start-end-radius: 0px !important;
                        border-start-start-radius: 0px !important;
                        text-align: start;
                        font-size: 12px;
                        line-height: 14.4px;
                        font-weight: 500;
                        &::before {
                            display: none;
                        }
                    }
                }

                .antd-table-tbody {
                    tr {
                        .ant-table-placeholder {
                            background: transparent;
                        }

                        td {
                            transition: none;
                            border-bottom: solid 1px rgba(255, 255, 255, 0.2) !important;
                        }
                    }
                }
            }

            &-cell {
                background: transparent;
                &:hover {
                    background: transparent;
                }
            }
        }
    }
}

