.connect {
    &-main {
        padding-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: start;
        &-left {
            display: flex;
            flex-direction: column;
            gap: 24px;

            &-step {
                display: flex;
                align-items: center;
                &-item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    width: 26px;
                    height: 26px;
                    border-radius: 100%;
                    border: solid 1px rgba(153, 158, 167, 1);
                    font-size: 12px;
                    color: rgba(153, 158, 167, 1);
                    font-weight: 500;
                    line-height: 26px;
                    cursor: pointer;
                    border-bottom: 1px solid #ddd;
                }
                .flex-row {
                    display: flex;
                    align-items: center;
                }
                .completed {
                    background-color: #e0ffe0;
                    width: 10px;
                    height: 1px;
                    border: solid 1px rgba(153, 158, 167, 1);
                }

                .not-completed {
                    width: 8px;
                }
            }
            &-section-device {
                display: flex;
                flex-direction: row;
                gap: 5px;
                &-input {
                    width: 50%;
                    .input-name {
                        color:white;
                        padding-bottom: 5px;
                    }
                    input {
                        width: 100%;
                        padding: 5px 10px;
                        border-radius: 8px;
                        border: solid 1px rgba(30, 30, 31, 1);
                        gap: 4px;
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 19px;
                        color: rgba(137, 142, 153, 1);
                    }
                }
                &-button {
                    align-self: flex-end;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 19px;
                    color: rgba(153, 158, 167, 1);
                    border-radius: 100px;
                    padding: 5px 20px;
                    border: 1px solid rgba(74, 75, 77, 1);
                    background-color: transparent;
                }
                &-button-active {
                    background-color: rgba(255, 255, 255, 1);
                    color: rgba(1, 1, 1, 1);
                }
            }

            .setup {
                font-size: 32px;
                font-weight: 500;
                line-height: 38px;
                color: rgba(255, 255, 255, 1);
            }

            .instruction {
                font-size: 14px;
                font-weight: 400;
                line-height: 19px;
                color: rgba(142, 145, 153, 1);
            }

            .next-step {
                width: 124px;
                height: 40px;
                font-size: 16px;
                font-weight: 500;
                line-height: 19px;
                color: rgba(153, 158, 167, 1);
                border-radius: 100px;
                padding: 10px 24px 10px 24px;
                border: 1px solid rgba(74, 75, 77, 1);
                background-color: transparent;
            }

            .step-active {
                background-color: rgba(255, 255, 255, 1);
                color: rgba(1, 1, 1, 1);
            }
            .disabled {
                cursor: not-allowed;
            }
            .device-connect {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 8px;
                background-color: rgba(255, 255, 255, 1);
                color: rgba(1, 1, 1, 1);
            }
        }

        &-right {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 8px;

            &-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-radius: 12px;
                padding: 24px;
                border: solid 1px rgba(64, 68, 75, 1);

                input[type="radio"] {
                    -webkit-appearance: none;
                    appearance: none;
                    width: 24px;
                    height: 24px;
                    border: 1px solid rgba(255, 255, 255, 0.16);
                    border-radius: 50%;
                    cursor: pointer;
                    position: relative;
                }
                input[type="radio"]:checked {
                    border-color: #fff;
                }
                input[type="radio"]:checked::before {
                    content: "";
                    display: block;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: #fff;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            .logo-item {
                display: flex;
                align-items: center;
                gap: 12px;

                p {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 19px;
                    color: rgba(193, 197, 206, 1);
                }
            }
        }
        .active {
            background-color: #ffff;
            color: #282828;
        }
    }
}
