.custom-popover .ant-popover-inner {
    background: rgba(0, 0, 0, 0.8); /* Màu nền tùy chỉnh */
    border-radius: 8px; /* Bo tròn góc */
    padding: 0; /* Khoảng cách nội dung */
    border: solid 1px rgba(255, 255, 255, 0.2);
    position: relative;

    .popover-content {
        padding: 16px;
        display: flex;
        flex-direction: column;
        a {
            color: white;
        }
    }
}

.custom-popover .ant-popover-arrow {
    border-color: transparent transparent #f0f0f0 transparent; /* Màu của mũi tên */
}

.custom-popover .ant-popover-title {
    font-weight: bold; /* Tùy chỉnh font-weight của tiêu đề */
    color: #333; /* Màu của tiêu đề */
}

.custom-popover .ant-popover-inner-content {
    color: #555; /* Màu chữ của nội dung */
}
.display-header {
    display: none;
}
header {
    height: 64px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    width: 100%;

    .container {
        max-width: 1240px;
        margin: 0 auto;

        .menu-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 60px;

            .header-left {
                display: flex;
                gap: 12px;

                .logo {
                    width: 100%;
                    height: 100%;
                    cursor: pointer;

                    &-mob {
                        display: none;
                    }
                }

                .line {
                    width: 1px;
                    height: 24px;
                    background: #9e9e9e;
                }

                .select {
                    display: flex;
                    gap: 6px;
                    align-items: center;

                    &-logo {
                        width: 16px;
                        height: 16px;
                    }
                    .ant-select-selector {
                        background: transparent;
                        border: none;
                        span {
                            color: white;
                            font-size: 18px;
                            text-align: center;
                            line-height: 21.6px;
                            font-weight: 300;
                        }

                        &:focus-visible {
                            outline: none;
                        }
                    }

                    .ant-select .ant-select-arrow {
                        color: white;
                    }
                    &-provider {
                        width: fit-content;
                        height: 22px;
                        background: transparent;
                        border: none;
                        color: white;
                        font-size: 18px;
                        text-align: center;
                        line-height: 21.6px;
                        font-weight: 300;
                    }
                }
            }

            .header-right {
                display: flex;
                align-items: center;
                gap: 8px;

                &-buttons {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                }

                .add-new-deivce {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    background: white;
                    padding: 10px 12px 10px 16px;
                    color: black;
                    border-radius: 100px;
                    cursor: pointer;
                    transition: all 0.2s ease-in-out;

                    p {
                        color: black;
                        font-size: 14px;
                    }

                    &:hover {
                        box-shadow: rgba(0, 0, 0, 1) 0px 0px 5px inset;
                    }
                }

                .add-new-project {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    background: white;
                    padding: 10px 12px 10px 16px;
                    color: black;
                    border-radius: 100px;
                    cursor: pointer;
                    transition: all 0.2s ease-in-out;

                    p {
                        color: black;
                        font-size: 14px;
                    }

                    &:hover {
                        box-shadow: rgba(0, 0, 0, 1) 0px 0px 5px inset;
                    }
                }

                .icon-bell {
                    width: 32px;
                    height: 32px;
                    border-radius: 100px;
                    border: 1px solid #9e9e9e2c;
                }

                .account {
                    &-icon {
                        display: block;
                    }

                    .menu-table {
                        display: none;
                    }
                }

                .account_no_login {
                    display: flex;
                    gap: 8px;
                    color: white;

                    a {
                        color: white;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
.ant-popover-content {
    .responsive-connect {
        display: none;
    }
}
.header_background {
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    animation: fadeInBackground 0.5s ease-in-out;
}

@keyframes fadeInBackground {
    from {
        background-color: rgba(255, 255, 255, 0);
    }

    to {
        background-color: rgba(255, 255, 255, 0.05);
    }
}

@media screen and (max-width: 500px) {
    header {
        .container {
            max-width: 500px;
            padding: 0 8px 0 16px;

            .menu-header {
                .header-left {
                    .logo {
                        &-mob {
                            display: block;
                        }

                        &-desk {
                            display: none;
                        }
                    }
                }

                .header-right {
                    gap: 8px;

                    .popover {
                        background: black;
                    }
                    .account {
                        &-icon {
                            display: block;
                        }

                        .menu-table {
                            display: none;
                        }
                    }

                    .add-new-deivce {
                        display: none;
                    }

                    .add-new-project {
                        display: none;
                    }

                    // &-buttons {
                    //     display: none;
                    // }
                }
            }
        }
    }

    .ant-popover-content {
        .responsive-popover {
            display: flex;
            flex-direction: column;
            gap: 8px;
            .responsive-connect {
                display: flex;
                align-items: center;
                gap: 8px;

                .add-new-deivce {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    background: white;
                    padding: 0px;
                    color: black;
                    border-radius: 100px;
                    cursor: pointer;
                    transition: all 0.2s ease-in-out;

                    p {
                        color: black;
                        font-size: 14px;
                    }

                    &:hover {
                        box-shadow: rgba(0, 0, 0, 1) 0px 0px 5px inset;
                    }
                }

                .add-new-project {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    background: white;
                    padding: 0px;
                    color: black;
                    border-radius: 100px;
                    cursor: pointer;
                    transition: all 0.2s ease-in-out;

                    p {
                        color: black;
                        font-size: 14px;
                    }

                    &:hover {
                        box-shadow: rgba(0, 0, 0, 1) 0px 0px 5px inset;
                    }
                }
            }

            .line {
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                width: 100%;
                height: 1px;
                background-color: rgb(44, 39, 39);
            }

            .account-popover {
                text-align: center;
            }
        }
    }
}

@media screen and (min-width: 500px) and (max-width: 1280px) {
    header {
        .container {
            max-width: 1280px;
            padding: 0 8px 0 16px;

            .menu-header {
                .header-left {
                    .logo {
                        &-mob {
                            display: block;
                        }

                        &-desk {
                            display: none;
                        }
                    }
                }

                .header-right {
                    gap: 8px;

                    .add-new-deivce {
                        padding: 10px 5px;
                    }

                    .add-new-project {
                        padding: 10px 5px;
                    }
                    .account {
                        &-icon {
                            display: block;
                        }

                        .menu-table {
                            display: none;
                        }
                    }

                    // &-buttons {
                    //     display: none;
                    // }
                }
            }
        }
    }
}
