.rate-container {
    max-width: 1240px;
    margin: 0 auto;
    margin-top: 144px;
    .grid-rate {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;

        .rate-item {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            gap: 16px;
            height: 105px;
            width: 288px;
            padding: 20px;
            border-radius: 12px;
            background-color: rgba(0, 0, 0, 0.2);
            border: solid 1px rgba(255, 255, 255, 0.2);

            &-top {
                font-size: 14px;
                line-height: 19.6px;
                font-weight: 500;
                text-align: center;
                color: #999ea7;
            }

            &-bottom {
                font-size: 24px;
                line-height: 28.8px;
                font-weight: 500;
                text-align: center;
                color: #fff;
            }
        }
    }
}
