footer {
    border-top: solid 1px rgba(255, 255, 255, 0.2);
    background: #0A0A0A;
    height: 73px;

    .container {
        max-width: 1240px;
        margin: 0 auto;

        .footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 60px;

            &-icon {
                width: 23.26px;
                height: 22px;
            }

            &-text {
                color: #5e6166;
                font-size: 12px;
                font-weight: 400;
                line-height: 24px;

                text-align: center;
            }

            &-right {
                display: flex;
                align-items: center;
                gap: 23px;

                &-send {
                    width: 20px;
                    height: 20px;
                }

                &-close {
                    width: 18px;
                    height: 17px;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    footer {
        .container {
            max-width: 500px;
            padding: 0 16px;
        }
    }
}

@media screen and (min-width: 500px) and (max-width: 1024px) {
    footer {
        .container {
            max-width: 1024px;
            padding: 0 16px;
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    footer {
        .container {
            max-width: 1280px;
            padding: 0 16px;
        }
    }
}
