.container-project {
    max-width: 1240px;
    margin: 0 auto;
    margin-top: 50px;

    .empty-project {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 24px;
        p {
            font-size: 32px;
            font-weight: 500;
            line-height: 38px;
            color: #e6e8ec;
        }
    }
}
